/* add CSS class and element and selectors here */

body {
  background-color: purple;
  color: white;
}

h3 {
  font-size: 300%;
  text-shadow: 2px 2px #ff0000;
}

div {
  border: solid; 
}

h1, h2 {
    text-shadow: 5px 3px #ff0000;
}
.myClass {
  background-color: yellow;
  color: blue;
}

p {
  text-align: center;
}
