/* add CSS class and element and selectors here */

body {
  background-color: purple;
  color: white;
}

h3 {
  font-size: 300%;
}

div {
  border: solid; 
}

p{
  color: white;
}

.myClass {
  background-color: yellow;
  color: blue;
}
